<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>

  <specFlow>
    <unitTestProvider name="MsTest"/>
    <runtime detectAmbiguousMatches="true" stopAtFirstError="false" missingOrPendingStepsOutcome="Inconclusive"/>
    <trace traceSuccessfulSteps="true" traceTimings="true" minTracedDuration="0:0:0.1"/>

    <stepAssemblies>
      <stepAssembly assembly="Marcusoft.BDD.WhiteStepHelper" />
    </stepAssemblies>

  </specFlow>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="ApplicationUnderTestPath" value="..\..\..\Marcusoft.BDD.WhiteStepHelper.SUT\bin\Debug\Marcusoft.BDD.WhiteStepHelper.SUT.exe"/>
    <add key="MainWindowName" value="Main"/>
  </appSettings>
</configuration>
